body {
	background: linear-gradient(#FF567B, #8B008F) no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h3.greeting {
	color: white;
	opacity: .85;
	text-align: center;
	text-shadow: 4px -2px 4px #1b1b1b;
}

div.menuIcon {
	position: fixed;
	right: 0px;
	width: fit-content;
	height: fit-content;
	background-color: #111111;
	padding-right: 3px;
	padding-left: 3px;
	margin-right: 7px;
	border-radius: 4px;
	z-index: 100;
}

div.menuBar {
	width: 35px;
  	height: 5px;
	background-color: #333;
  	margin: 6px 0;
}

ul.topnav {
	display: none;
	position: fixed;
	top: 55px;
	right: 0px;
	list-style-type: none;
	margin-top: 2px;
	margin-right: 6px;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	z-index: 100;
}

ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: #111;
}

.sun {
	position: fixed;
	display: inline-block;
	width: 100px;
	height: 100px;
	transform: translate(-33px, -27px);
	background-color: #FFDE00;
	border-radius: 50%;
	z-index: -1;
	box-shadow:
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	animation:
		sunrise 2s infinite linear forwards,
		rays 2s 2s infinite linear;
}

@keyframes sunrise {
	0% {
		box-shadow: none;
	}
}

@keyframes rays {
	0% {
		box-shadow:
		0 0 0 0 #FFDE0080,
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 40px 100px #FFDE0010;
	}
	100% {
		box-shadow:
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	}
}

body {
	opacity: 0;
    transition: opacity 2s;
	-webkit-transition: opacity 2s
}






