div.cartItem {
    width: 80%;
    height: 75px;
    margin: 10px auto auto;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
    background-color: #ffffff;
    display: none;
}

div.cartItem img {
    height: 65px;
    width: 70px;
    float: left;
    padding-right: 5px;
    object-fit: cover;
}

div.cartItem h4 {
    float: left;
    padding: 0px 5px 0px 5px;
    margin: 0px;
}

div.cartItemsContainer {
    width: 85%;
    height: 500px;
    background-color: #f6f6f6;
    margin: auto;
    overflow: auto;
}

div.cart {
    margin-top: 60px;
}

div.cart h1 {
    padding: 0px;
    margin-left: 7.5%;
    margin-bottom: 0px;
    margin-top: 0px;
}

@media screen and (max-width: 500px) {
    div.cart {
        margin-top: 20px;
    }

    div.cartItemsContainer {
        height: 300px;
    }
}

button.remove {
	background-color: #333;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 4px;
}

button.remove:hover {
	transform: translateY(-3px);
	background-color: #111;
}

div.totalCostOfOrder {
    width: 85%;
    height: 30px;
    background-color: #f6f6f6;
    margin: auto;
    border-top: solid black;
}

#headingForTotal {
    padding: 0px;
    margin: 0px 0px 0px 5px;
    float: left;
}

#orderTotalBeforeTax {
    margin-top: 5px;
    margin-right: 3px;
    float: right;
}

#taxTotal {
    margin-top: 5px;
    margin-right: 3px;
    float: right;
}

#costAfterTax {
    margin-top: 5px;
    margin-right: 5px;
    float: right;
}