body {
	background-color: #cccccc;
  	background-image: linear-gradient(#FF567B, #8B008F);
}

h3.greeting {
	color: white;
	opacity: .85;
	text-align: center;
	text-shadow: 4px -2px 4px #1b1b1b;
}

div.menuIcon {
	position: fixed;
	left: 0px;
	margin-left: 7px;
	width: fit-content;
	height: fit-content;
	z-index: 100;
}

div.menuBar {
	width: 35px;
  	height: 5px;
	background-color: #333;
  	margin: 6px 0;
}

ul.topnav {
	position: sticky;
	position: -webkit-sticky; 
	top: 0;
	list-style-type: none;
	margin: 0 0 10px;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	opacity: .95;
	z-index: 100;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

ul.topnav li.right {
	float: right;
}

ul.topnav li a:hover:not(.active) {
	background-color: #111;
}

ul.topnav li a.active {
	background-color: #04AA6D;
}

@media screen and (max-width: 600px) {
	ul.topnav li.right, ul.topnav li {
		float: none;
	}

	ul.topnav li a {
		padding: 5px 0px;
	}

	ul.topnav {
		display: none;
	}
}

@media screen and (min-width: 600px) {
	div.menuIcon {
		display: none;
	}
}

.sun {
	position: fixed;
	display: inline-block;
	width: 100px;
	height: 100px;
	transform: translate(-33px, -27px);
	background-color: #FFDE00;
	border-radius: 50%;
	z-index: -1;
	box-shadow:
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	animation:
		sunrise 2s infinite linear forwards,
		rays 2s 2s infinite linear;
}

@keyframes sunrise {
	0% {
		box-shadow: none;
	}
}

@keyframes rays {
	0% {
		box-shadow:
		0 0 0 0 #FFDE0080,
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 40px 100px #FFDE0010;
	}
	100% {
		box-shadow:
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	}
}

div.menuItem {
	width: 87%;
	background-color: white;
	margin: auto auto 35px;
	overflow: auto;
	position: relative;
	box-shadow: 20px 20px 20px #1b1b1b,
				inset 0px 0px 40px 40px #e35f5f;
}

div.menuItem img {
  float: left;
  width: 50%;
  height: 300px;
  object-fit: cover;
}

div.menuItem button {
	position: absolute;
	background-color: #333;
	color: white;
	font-family: serif;
	border: none;
	border-radius: 4px;
	padding: 4px;
	bottom: 10px;
	right: 10px;
}

div.menuItem button:hover {
	transform: translateY(-3px);
	background-color: #111;
}

div.menuItem p {
	position: absolute;
	padding-left: 5px;
	margin-left: 55%;
	margin-top: 10%;
}

@media screen and (min-width: 1000px) {
	div.menuItem {
		width: 60%;
	}
}

@media screen and (max-width: 500px) {
	div.menuItem {
		height: 370px;
		float: right;
	}

	div.menuItem img {
		float: none;
		height: 200px;
		width: 100%;
	}

	div.menuItem p {
		margin-top: 0px;
		margin-left: 0px;
		padding: 7px;
	}

	div.menuItem button {
		bottom: 140px;
	}

	h3.greeting {
		float: right;
		width: 87%;
	}
}



