div.choices {
	width: fit-content;
	margin: auto;
}

div.registerForm {
	  width: 60%;
	  padding: 20px;
	  background-color: white;
	  border-radius: 20px;
	  margin: 30px auto auto;
}

div.loginForm {
	  width: 60%;
	  padding: 20px;
	  background-color: white;
	  border-radius: 20px;
	  margin: 30px auto auto;
}