<!DOCTYPE html>
<html lang="en-us">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/CSS/base.css' %}">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="{% static 'main/scripts/menu_icon_clicked.js' %}" ></script>

<body onload="document.body.style.opacity='1'">
	<div class="sun"></div>

	<div class="menuIcon">
		<div class="menuBar"></div>
		<div class="menuBar"></div>
		<div class="menuBar"></div>
	</div>

	<h3 class="greeting"> Sunset Restaurant </h3>

	<ul class="topnav">
		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>
        <li>
            <a href="{% url 'menu' %}">Menu</a>
        </li>
		<li>
			<a href="#order">Order</a>
		</li>
		<li>
			<a href="{% url 'cart' %}">Cart</a>
		</li>
		<li>
			{% if user.is_authenticated %}
					<a href="{% url 'logout' %}">Logout</a>
			{% else %}
					<a href="{% url 'sign_in' %}">Register/Login</a>
			{% endif %}
		</li>
	</ul>

    {% block body%}
    {% endblock %}
</body>

</html>
