{% extends 'main/base.html' %}

{% block body%}

{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/css/ol.css" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'main/CSS/home.css' %}" >
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script>

<p style="color: #f6f6f6; text-shadow: 4px -2px 4px #1b1b1b;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<div id="map" class="map"></div>

<script type="text/javascript">
	const myPoint = new ol.Feature({
		geometry: new ol.geom.Point(ol.proj.fromLonLat([-76.74, 40.20])),
	});

	const iconStyle = new ol.style.Style({
		image: new ol.style.Icon({
		anchor: [0.5, 46],
		anchorXUnits: 'fraction',
		anchorYUnits: 'pixels',
        scale: .25,
		src: "{% static 'main/images/fork_knife.png' %}",
		}),
	});

	myPoint.setStyle(iconStyle);

	const vectorSource = new ol.source.Vector({
		features: [myPoint],
	});

	const vectorLayer = new ol.layer.Vector({
		source: vectorSource,
	});


	let map = new ol.Map({
	target: 'map',
	layers: [
		new ol.layer.Tile({
		source: new ol.source.OSM()
		}),
		vectorLayer
	],
	view: new ol.View({
		center: ol.proj.fromLonLat([-76.74, 40.20]),
		zoom: 14
		})
	});
</script>
{% endblock %}
