{% extends 'main/base.html' %}

{% block body%}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/CSS/menu.css' %}">

<div class="quantityForm">
	<h3></h3>
	<input type="hidden" id="idOfItemToAdd">
	<input type="hidden" id="priceItemQtyForm">
	<input type="range" id="quantityOfItemToAdd" min="1" max="20" value="1"
		oninput="
				outputQuantity.value = this.value;
				costOfAdding.value = (parseInt(this.value) * parseFloat(priceItemQtyForm.value)).toFixed(2);
		">
	<p style="display: inline">Qty: </p>
	<output id="outputQuantity">1</output>
	<br>
	<p style="display: inline">Total cost: $</p>
	<output id="costOfAdding"></output>
	<button id="confirmAdd">ADD</button>
	<button id="cancelAdd">CANCEL</button>
</div>

{% for item in menu %}
<div class="menuItem">
	<img src={{item.image.url}}>
		<p>
			{{item.name}} 	 		<br>
			${{item.price}}  		<br>
			  			 			<br>
			Ingredient list: 		<br>
			{{item.description}} 	<br>
		</p>
	<button id={{item.id}};{{item.name}};{{item.price}} onclick="displayQuantityForm(this)">ADD TO CART</button>
</div>

{% empty %}
<p>Nothing found</p>
{% endfor %}

<script>
	function displayQuantityForm(calling) {
		const idNamePrice = calling.id.split(';');
		$('.quantityForm h3').text(idNamePrice[1]);
		$('#idOfItemToAdd').val(idNamePrice[0]);
		$('#quantityOfItemToAdd').val('1');
		$('#outputQuantity').val('1');
		$('#priceItemQtyForm').val(idNamePrice[2]);
		$('#costOfAdding').val(idNamePrice[2]);
		$('.quantityForm').show(500);
	}

	$('#cancelAdd').click(function () {
		$('.quantityForm').hide(500);
	});

	$('#confirmAdd').click(function () {
		const cartIdListKey = 'cartIdList';
		const cartIdDelimiter = '_';
		const cartIdList = localStorage.getItem(cartIdListKey);
		const itemQtyKey = $('#idOfItemToAdd').val();
		const itemQty = localStorage.getItem(itemQtyKey);
		const amountOfItemsToAdd = $('#quantityOfItemToAdd').val();

		if (itemQty === null) {
			localStorage.setItem(itemQtyKey, amountOfItemsToAdd);

			if (cartIdList === null) {
				localStorage.setItem(cartIdListKey, itemQtyKey.concat(cartIdDelimiter));
			} else {
				localStorage.setItem(cartIdListKey, cartIdList.concat(itemQtyKey, cartIdDelimiter));
			}
		} else {
			localStorage.setItem(itemQtyKey, String(parseInt(itemQty) + parseInt(amountOfItemsToAdd)));
		}

		$('.quantityForm').hide(500);
	});
</script>

{% endblock %}