<!DOCTYPE html>
<html lang="en-us" xmlns="">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/CSS/signup_login.css' %}">

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="{% static 'main/scripts/signup_login.js' %}" ></script>

<style >
       div.registerForm {
              width: 60%;
              padding: 20px;
              background-color: white;
              border-style: groove;
              border-radius: 20px;
              margin: 30px auto auto;
       }
</style>


<body>
       <div class="sun"></div>

       <h3 class="greeting"> Sunset restaurant </h3>

       <ul class="topnav">
              <li>
                     <a href="{% url 'home' %}">Home</a>
              </li>
              <li>
                     <a href="{% url 'menu' %}">Menu</a>
              </li>
              <li>
                     <a href="#order">Order</a>
              </li>
              <li>
                     <a href="#contact">Contact</a>
              </li>
              <li class="right">
              </li>
       </ul>

       <div class="registerForm">
              <form method="post" action="{% url 'register' %}">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit">Sign up</button>
              </form>
       </div>
</body>

</html>