{% extends 'main/base.html' %}

{% block body%}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/CSS/signup_login.css' %}">
<script src="{% static 'main/scripts/signup_login.js' %}" ></script>

<div class="choices">
       <input type="radio" id="loginRadio" name="choice" checked="checked">
       <label for="loginRadio">Login</label>
       <input type="radio" id="registerRadio" name="choice">
       <label for="registerRadio">Sign up</label>
</div>

<div class="registerForm">
       <form method="post" action="{% url 'register' %}">
               {% csrf_token %}
               {{ signup_form.as_p }}
               <button type="submit">SIGN UP</button>
       </form>
</div>

<div class="loginForm">
       <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              {{ login_form.as_p }}
              <button type="submit">LOGIN</button>
       </form>
</div>

{% endblock %}