{% extends 'main/base.html' %}

{% block body%}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/CSS/signup_login.css' %}">
<script src="{% static 'main/scripts/signup_login.js' %}" ></script>

<div class="choices">
       <input type="radio" id="loginRadio" name="choice" checked="checked">
       <label for="loginRadio">Login</label>
       <input type="radio" id="registerRadio" name="choice">
       <label for="registerRadio">Sign up</label>
</div>

<div class="registerForm">
       <form method="post" action="{% url 'register' %}" data-validate-username-url="{% url 'validate_username' %}">
               {% csrf_token %}
               {{ signup_form.as_p }}
               <button type="submit" onclick="return registerFormSubmission()">SIGN UP</button>
       </form>
</div>

<div class="loginForm">
       <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              {{ login_form.as_p }}
              <button type="submit" onclick="return loginFormSubmission()">LOGIN</button>
       </form>
</div>

<script>
    function registerFormSubmission() {
        if ($('#id_password1').val() !== $('#id_password2').val()) {
            alert('Passwords do not match');
            return false;
        }

        $.ajax({
            method: "POST",
            url: "{% url 'register' %}",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            dataType: 'json',
            data: {'username' : $('.registerForm #id_username').val(),
                   'email' : $('.registerForm #id_email').val(),
                   'password1' : $('.registerForm #id_password1').val(),
                   'password2' : $('.registerForm #id_password2').val()
            },
            success: function (data) {
                if (data.result === true) {
                    $('.registerForm #id_username').val('');
                    $('.registerForm #id_email').val('');
                    $('.registerForm #id_password1').val('');
                    $('.registerForm #id_password2').val('');
                    alert('Thank you for creating an account with us!');
                    reload();
                } else {
                    alert('Account creation failed, please try again. ' +
                        'Make sure you are not using special characters in any of the fields.');
                }
            }
        });

        return false;
    }

    $('.registerForm #id_username').change(function () {
        const username = $(this).val();
        const form = $(this).closest("form");

        $.ajax({
            url: form.attr("data-validate-username-url"),
            data: {
                    'username': username
                  },
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                   alert(data.error_message);
                }
            }
        });
    });


    function loginFormSubmission() {
          $.ajax({
            method: "POST",
            url: "{% url 'login' %}",
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            dataType: 'json',
            data: {'username' : $('.loginForm #id_username').val(),
                   'password' : $('.loginForm #id_password').val(),
            },
            success: function (data) {
                if (data.result === true) {
                    $('.loginForm #id_username').val('');
                    $('.loginForm #id_password').val('');
                    alert('Login successful');
                    reload();
                } else {
                    alert('Username and password do not match');
                }
            }
        });

        return false;
    }

    function reload() {
        let container = document.getElementById('sign_inOrRegister');
        container.innerHTML = "<a href={% url 'logout' %}>Logout</a>";
    }
</script>

{% endblock %}